.layout {
    min-height: 100vh;
}

.logo {
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    float: left;
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo img {
    width: 150%;
    height: 150%;
    object-fit: contain;
}

.menu {
    background-color: rgba(0, 0, 0, 0.616);
    color: white;
}

.menu-item {
    margin: 0 15px;
}

.login-button {
    cursor: pointer;
    color: #fff;
}

.login-button:hover {
    color: #1890ff;
}


.content {
    justify-content: center;
    align-items: center;
    display: flex;
}

.socialLinks {
    gap: 20px;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.socialLinks a {
    text-decoration: none;
    color: #007bff;
    font-size: 30px;
}

.socialLinks a:hover {
    color: #0056b3;
}